#jinja2: trim_blocks: True, lstrip_blocks: True
{% if item.challengetype is defined %}CHALLENGETYPE={{ item.challengetype }}{% endif %}
{% if item.key_algo is defined %}KEY_ALGO={{ item.key_algo }}{% endif %}
{% if item.keysize is defined %}KEYSIZE={{ item.keysize }}{% endif %}
{% if item.private_key_renew is defined %}PRIVATE_KEY_RENEW={{ item.private_key_renew }}{% endif %}
{% if item.wellknown is defined %}WELLKNOWN={{ item.wellknown }}{% endif %}
